// Here you can add other styles


.user-avatar {
  border-radius: 50%;
  border: 2px solid #fff;
}

.loginbtn {
  margin-top: 10px;
  width: 104%;
  align-items: center;
  padding-left: 4%;
}

form {
  .form-signin,
  .form-register {
    width: 80%;
    margin: 0 auto;
  }

  .form-group {
    height: 80px;
  }

  .has-error {
    .form-control {
      border-color: red;
    }

    .form-feedback {
      color: red;
      font-size: 0.9rem;
    }
  }
}

.asterisk {
  color: red;
}
