<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
  
          <div>
            <h3>UPLOAD HERE</h3>

          </div>

        </div> 
  
  
        <div class="card-body">
          <label class="btn btn-primary upload-btn" style="background: #35bdf3">
            Upload file<input type="file" name="file" hidden multiple (change)="uploadFile($event)">
          </label>

        </div>
      </div>
      </div>
      </div>
      </div>





